<div class= "container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >{{#link-to 'index'}}political stuff{{/link-to}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to 'index'}}index{{/link-to}}</li>
    </ul>
  </div>
</nav>


  <header class= "jumbotron">
    <h1>welcome to political stuff</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    <!-- {{#link-to 'index'}}return to index{{/link-to}} -->
    ~ian
  </footer>
</div>
