<h1>find the committies in the house!</h1>

<button class="btn btn-primary" {{action 'committiesLookup'}}>GO</button>


<!-- <ul>
  {{#each model as |result|}}
    <li> {{result.name}}
    <br>Contact: {{result.phone}}</li>
  {{/each}}
</ul> -->



{{#link-to "index"}}index{{/link-to}}
